* {
    padding: 0px;
    margin: 0px;
    font-family: 'Rajdhani';

}

body {
    background-image: url("./images/bg-4k.png");
    background-repeat: no-repeat;
    background-size: cover;
}


a {
    text-decoration: none; 
}

.topnav {
    display: flex;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
}

.equipped, .switcher, .challenges {

    color: #82838a;
    font-size: medium;
    cursor: pointer;
}

.navtext {
    color: #82838a;
    padding-left: 10px;
    padding-right: 35px;
    border: solid;
}

.tab-content div {
    display: none;
  }

.tab-content .active {
    display: block;
  }

  .navtext.active {
    color: white;
    font-weight: bold;
}
