<h1>Add New Operation</h1>
<form method="POST">
    <label for="name">Operation Name:</label>
    <input type="text" id="name" name="name" oninput="this.value = this.value.toUpperCase();" required><br>

    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" required><br>

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" required><br>

    <label for="xp_goal">XP Goal:</label>
        <input type="number" id="xp_goal" name="xp_goal" min="0" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br>

    <label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="image_url"><br>

     <label for="icon_url">Icon URL:</label>
    <input type="text" id="icon_url" name="icon_url"><br>

    <button type="submit">Add Operation</button>
</form>
